<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservations</title>
</head>
<body>

<h2>Reservations</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Vehicle</th>
        <th>Start</th>
        <th>End</th>
    </tr>

    <tr th:each="r : ${reservations}">
        <td th:text="${r.id}"></td>
        <td th:text="${r.username}"></td>
        <td th:text="${r.vehicle}"></td>
        <td th:text="${r.startDate}"></td>
        <td th:text="${r.endDate}"></td>
    </tr>
</table>

<br>
<a href="/dashboard">Back to Dashboard</a>

</body>
</html>
